<a href="https://colab.research.google.com/github/sngca09/DATA-SCIENCE-LAB/blob/main/ANAKHA_TA_NLTK_CO5_10_2_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
from nltk.corpus.reader import wordlist
from nltk import tokenize
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
stop_words=set(stopwords.words('english'))
  
#Dummy text
txt="hai. i am Anakha ta. i belongs to pbvr. i love to watch korean series. lee seungi is my fav actor."
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
tokenized=sent_tokenize(txt)
for i in tokenized:
  # Word tokenizers is used to find the words 
    # and punctuation in a string
  wordsList=nltk.word_tokenize(i) 
  # removing stop words from wordList
  wordsList=[w for w in wordsList if not w in stop_words]
   #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
  tagged=nltk.pos_tag(wordsList)

print(tagged)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[('lee', 'NN'), ('seungi', 'NNS'), ('fav', 'JJ'), ('actor', 'NN'), ('.', '.')]

In [ ]:
print(stop_words)

{"you'll", "shouldn't", 'herself', 'some', 'when', 'their', "you're", 'hers', 'or', 'why', 'at', 'not', "should've", "doesn't", 'yours', 'them', 'isn', 'where', 'it', 'having', 'because', 'for', 'he', 'there', 's', 'm', "she's", "hadn't", 'didn', 'no', 'me', "you'd", "it's", "wasn't", 'doing', 'ourselves', 'that', 'same', 'what', 'do', "haven't", 'on', "mustn't", 'few', 'mightn', 'has', 'how', 'wouldn', 'did', "don't", 'during', 'just', "hasn't", 'don', 'both', 'if', 'ain', 'themselves', 'after', 'very', "that'll", 'from', 'under', 'can', 'until', "you've", "couldn't", 'those', 'other', 'nor', 'by', 'against', 'now', 'ma', 'you', 'her', 'your', 'hadn', 'should', "aren't", 'before', 'are', 'ours', 'off', 'and', 'our', 'have', 'his', 'up', 't', 'doesn', 'than', 'him', 'further', 'these', 'whom', 'won', 'myself', 'while', 'yourselves', 'more', "weren't", 'below', 'over', 'its', 'about', 'as', 'own', 'she', 'above', 'be', 'will', 'the', 'couldn', 'is', 'in', 'who', 'my', 'd', 'mustn', 'o', 'through', 'such', 'yourself', "didn't", 'being', 'a', 'most', 'too', 'only', 'haven', 'then', 'hasn', 'theirs', 'weren', 'had', "needn't", 'am', 'an', 'into', 'out', 'between', 'once', "mightn't", "won't", 'shouldn', 'with', 're', 'aren', 'of', 'needn', 'so', "shan't", 've', 'does', 'itself', 'here', 'll', 'were', 'to', 'y', 'shan', 'any', 'was', 'they', 'all', 'himself', 'this', 'which', 'wasn', 'each', 'been', 'we', "wouldn't", 'again', "isn't", 'down', 'i', 'but'}

In [ ]:
print(tokenized)

['hai.', 'i am Anakha ta.', 'i belongs to pbvr.', 'i love to watch korean series.', 'lee seungi is my fav actor.']

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
colname=['sentiment','News']
df=pd.read_csv('all-data.csv - all-data.csv.csv',encoding='ISO-8859-1',names=colname)
df.head()

  sentiment                                               News
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  4846 non-null   object
 1   News       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: sentiment, dtype: int64

In [ ]:
y=df['sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['News'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.4)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2907,)
(1939,)
(2907,)
(1939,)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'News'})
df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'sentiment'})
df_train=pd.concat([df1,df2],axis=1)

In [ ]:
#Make test dataset as a dataframe
df3=pd.DataFrame(x_test)
df3=df3.rename(columns={0:'News'})
df4=pd.DataFrame(y_test)
df4=df4.rename(columns={0:'sentiment'})
df_test=pd.concat([df3,df4],axis=1)

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_pun(text):
  if(type(text)==float):
    return text
  ans=""
  for i in text:
    if i not in string.punctuation:
      ans+=i
  return ans

In [ ]:
text="anu@ south_korea"
remove_pun(text)

'anu southkorea'

In [ ]:
#storing the puntuation free text in a new column called clean_msg
df_train['News']=df_train['News'].apply(remove_pun)
df_test['News']=df_test['News'].apply(remove_pun)
#punctuations are removed from news column in train dataset
df_train.head()

                                                News sentiment
0  The price will be specified at the completion ...   neutral
1  The chilled meat products category led the mea...   neutral
2  Finnish Ahlstrom Corporation has ordered key p...  positive
3  During the past 10 years the factory has produ...   neutral
4  The periodend cash and cash equivalents totale...  negative

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text,ngram=1):
  words=[word for word in text.split(" ")if word not in set(stopwords.words('english'))]
  print("sentence after rmving stpwrds=",words) 
  temp=zip(*[words[i:] for i in range(0,ngram)])
  ans=[' '.join(ngram) for ngram in temp]
  return ans

In [ ]:
generate_N_grams("The sun rises in the east",2)

sentence after rmving stpwrds= ['The', 'sun', 'rises', 'east']

['The sun', 'sun rises', 'rises east']

In [ ]:
generate_N_grams("The sun rises in the east",3)

sentence after rmving stpwrds= ['The', 'sun', 'rises', 'east']

['The sun rises', 'sun rises east']

In [ ]:
generate_N_grams("The sun rises in the east",4)

sentence after rmving stpwrds= ['The', 'sun', 'rises', 'east']

['The sun rises east']

In [ ]:
name=['anakha','ta']
s=' '.join(name)
s

'anakha ta'

In [ ]:
s1=['abeel','adi','akash','akhya']
s2=[1,2,3,4]
s3=zip(s1,s2)
print(set(s3))

{('adi', 2), ('akhya', 4), ('abeel', 1), ('akash', 3)}